<%= form_for(@user) do |f| %>
  <% if logged_in? && current_user.isadmin? %>
	  <% if !current_user?(@user) %>
	  	<div class="form-group">
	  	<%= f.label :isadmin, "Make Administrator (Caution!)" %>
	  	<%= f.check_box :isadmin, class: 'form-control', 'isadmin' => 'true', 'isadmin' => 'false' %>
	  	</div>

		<div class="form-group">
		<%= f.label :verified %>
		<%= f.check_box :verified, class: 'form-control', 'verified' => 'true', 'verified' => 'false' %>
		</div>
	  <% elsif !current_user.verified? %>
		<%= f.hidden_field :verified, :value => true %>
	  <% end %>

	  <div class="form-group">
	  <%= f.label :notes, "Administrator Notes" %>
	  <%= f.text_field :notes, class:'form-control' %>
	  </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Name" %> <span style=color:red>*</span>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :email %> <span style=color:red>*</span>
    <%= f.email_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
	<% if @user.new_record? %>
	<span style=color:red> *</span>
	<% end %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, "Password Confirmation" %>
	<% if @user.new_record? %>
	<span style=color:red> *</span>
	<% end %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :address %> <span style=color:red>*</span>
    <%= f.text_field :address, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :organization %> <span style=color:red>*</span>
    <%= f.text_field :organization, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :insuranceprovider, "Insurance Provider" %>
    <%= f.text_field :insuranceprovider, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :policynum, "Insurance Policy Number" %>
    <%= f.text_field :policynum, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit @user.new_record? ? 'Create account' : 'Save Changes', class: "btn btn-primary" %>
  </div>

  <div class="checkbox">
  <label>
    <input type="checkbox" value="">
      I have read the entire BVCIL Connector Indemnity Agreement and could be held responsible for any violations of the agreement.
  </label>
</div>
<% end %>
