<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages' %>

  <div class="form-group">
    <%= f.label :name, "Name" %> <span style=color:red>*</span>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :email %> <span style=color:red>*</span>
    <%= f.email_field :email, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :password %> <span style=color:red>*</span>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :password_confirmation, "Password Confirmation" %> <span style=color:red>*</span>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :address %> <span style=color:red>*</span>
    <%= f.text_field :address, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :organization %> <span style=color:red>*</span>
    <%= f.text_field :organization, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :insuranceprovider, "Insurance Provider" %>
    <%= f.text_field :insuranceprovider, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :policynum, "Insurance Policy Number" %>
    <%= f.text_field :policynum, class: 'form-control' %>
  </div>
    
  <div class="form-group">
    <%= f.submit @user.new_record? ? 'Create account' : 'Edit account', class: "btn btn-primary" %>
  </div>
<% end %>
