<% provide(:title, @user.name) %>
<div class="row">
	<aside class="col-md-4">
		<section class="user_info">
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
		</section>
	</aside>
	<% if @user.isadmin? %>
		<b>User Class:</b> <span style="color:blue">Administrator</span><br>
		<b>Administrator Notes:</b> <%= @user.notes %><br>
	<% end %>
	<b>Account Status:<b/>
	<% if @user.verified? %>
		<span style="color:green">Verified User</span>
	<% else %>
		<span style="color:red">Unverified User</span>
	<% end %><br>
	<b>Email:</b> <%= @user.email %><br>
	<b>Address:</b> <%= @user.address %><br>
	<b>Organization:</b> <%= @user.organization %><br>
	<b>Insurance Provider:</b> <%= @user.insuranceprovider %><br>
	<b>Insurance Policy Number:</b> <%= @user.policynum %>
</div>