<% provide(:title, @user.name) %>
<div class="row">
    <%= render 'shared/error_messages' %>
	<div class="col-sm-12 col-md-9 user-profile">
		<h1 class="user-name-gravatar">
			<%= gravatar_for @user %>
			<%= @user.name %>
		</h1>
		<% if current_user.isadmin? %>
			<strong>User Class:</strong> <span style="color:blue">Administrator</span><br>
			<strong>Administrator Notes:</strong> <%= @user.notes %><br>
		<% end %>
		<strong>Account Status:</strong>
		<% if @user.verified? %>
			<span style="color:green">Verified User</span>
		<% else %>
			<span style="color:red">Unverified User</span>
		<% end %><br>
		<strong>Email:</strong> <%= @user.email %><br>
		<strong>Address:</strong> <%= @user.address %><br>
		<strong>Organization:</strong> <%= @user.organization %><br>
		<strong>Insurance Provider:</strong> <%= @user.insuranceprovider %><br>
		<strong>Insurance Policy Number:</strong> <%= @user.policynum %><br>
	</div>
	<div class="col-sm-12 col-md-3">
		<%= link_to "Edit Account", "/users/#{@user.id}/edit", :class => 'btn btn-primary user-profile-edit-btn' %>
	</div>
</div>
