<%= form_for(@maintenanceForm) do |f| %>
  <% if @maintenanceForm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@maintenanceForm.errors.count, "error") %> prohibited this maintenance request from being saved:</h2>

      <ul>
      <% @maintenanceForm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :issue_string %><br>
    <%= f.text_field :issue_string %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
