<%= form_for(@maintenance_form) do |f| %>
  <% if @maintenance_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@maintenance_form.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @maintenance_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :issue_string %><br>
    <%= f.text_field :issue_string %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
