<p id="notice"><%= notice %></p>

<h1>Listing Maintenance Requests</h1>

<table>
  <thead>
    <tr>
      <th>Problem</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @maintenance_forms.each do |maintenanceF| %>
      <tr>
		<td><%= maintenanceF.id %></td>
        <td><%= maintenanceF.issue_string %></td>
        <td><%= maintenanceF.created_at %></td>
		    <td><%= maintenanceF.fixed %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Request', new_request_path %>
